#logo-nav {
    width: 200px;


}
body{
    padding: 0%;
    margin:0%;
    box-sizing: border-box;

}

#carousel-img{
    width: 100%;
    height:500px;
    align-items: center;
    border-radius: 15px;
}

a:hover{
    color:orange;
    border-color: goldenrod;
    
}
a{
    margin-right: 2px;
    border-bottom: 1px solid white;
    border-width: 100px px;
    border-radius: 10%;
}
#titulo {
    
    text-align: center;
    font-size: 32px;
}

#welcome {
    margin-top: 50px;
}

#caption {
    border-radius: 15px;
    align-items: center;
    align-self: center;
    font-family: 'Roboto',sans-serif;
    opacity: 80%;
    margin-bottom:70px;
    background-color: rgba(0, 0, 0, 0.582);
}
#card{
    width: 48px;
    height: 48px;
    align-self: center;
    margin: 24px;
}

#imagem-fundo {
    position: relative;
    display: inline-block;
    clip-path: polygon(0 28%, 100% 0%, 100% 67%, 0% 100%);

}
#imagem-fundo figcaption {
    position: relative;
    top: -30vh;
 
    font-size: 40px;
    color: black;
    opacity: 80%;
    text-shadow: 0px 0px 5px black;
}
#imagem-fundo2 {
    position: relative;
    display: inline-block;
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 84%);

}
#imagem-fundo2 figcaption {
    position: relative;
    top: -30vh;
 
    font-size: 40px;
    color: white;
    opacity: 80%;
    text-shadow: 0px 0px 5px black;
}

#icon{
    border-bottom: 10px solid white;

}
.footimg{
    border-style: solid;
    border-radius: 100%;
    border-color: orange;
    width: 150px;
    height:150px;

}

.form-login {

    max-width: 700px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

}
#bumper {
    clip-path: polygon(0 25%, 100% 0%, 100% 0, 0 0);
}

#button-submit {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    display: block;
}
.buttons-or {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.form-group {
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
}

#final-hr{
    opacity: 50%;
    background-color: white;

}

#qs-logo {
    height: 256px;
    width: auto;
    margin-left: 200px;
}

.qs-carrossel{
    max-width: 800px;
    max-height: 600px;
}



.msg-membro span {display:none;position:relative}
.msg-membro:hover span {display:block;position:absolute;margin-left:40px}

.msg-membro {
    width:1.5em;height:1.5em;
    text-align:center;
    border:1px solid #999;
    border-radius:50%;
    color:#999;
  }
  
.msg-membro span {
    width:8em;
    color:#fff;
    background:#999;
    border-radius:5px;
    padding:5px;
  }

  #profile-pic{
    
    clip-path: circle(40.6% at 50% 50%);

}
#profile-pic:hover{
    clip-path: circle(50% at 50% 50%);
    
}
#qs-card{
    padding: 0 5px 0 5px;
    max-width: 280px;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}


.chatbot {
    position: fixed;
    height: 70px;
    width: 70px;
    left: 94%;
    top: 85%;
    z-index: 100;
    background-color: black;
    border-radius: 50px;
}